@model ThuVien.Models.Sach

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiSach1.MaLoaiSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSach1.MaLoaiSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NXB1.MaNXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NXB1.MaNXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhieuMuon.MaMuon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhieuMuon.MaMuon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TacGia1.MaTacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TacGia1.MaTacGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViTri1.MaViTri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViTri1.MaViTri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgonNgu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgonNgu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeUpdate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
